AtomPair CB 253 CB 256 SCALARWEIGHTEDFUNC 5.083 BOUNDED 0 8.055 1 0.5 #
AtomPair CB 73 CB 133 SCALARWEIGHTEDFUNC 4.321 BOUNDED 0 7.442 1 0.5 #
AtomPair CB 276 CB 298 SCALARWEIGHTEDFUNC 4.158 BOUNDED 0 10.713 1 0.5 #
AtomPair CB 180 CB 219 SCALARWEIGHTEDFUNC 4.141 BOUNDED 0 10.135 1 0.5 #
AtomPair CB 171 CB 174 SCALARWEIGHTEDFUNC 3.807 BOUNDED 0 5.982 1 0.5 #
AtomPair CB 255 CB 259 SCALARWEIGHTEDFUNC 3.454 BOUNDED 0 8.601 1 0.5 #
AtomPair CB 149 CB 190 SCALARWEIGHTEDFUNC 3.35 BOUNDED 0 7.442 1 0.5 #
AtomPair CB 250 CB 260 SCALARWEIGHTEDFUNC 3.094 BOUNDED 0 10.713 1 0.5 #
AtomPair CB 302 CB 306 SCALARWEIGHTEDFUNC 3.046 BOUNDED 0 9.867 1 0.5 #
AtomPair CB 26 CB 69 SCALARWEIGHTEDFUNC 2.83 BOUNDED 0 9.121 1 0.5 #
AtomPair CB 32 CB 43 SCALARWEIGHTEDFUNC 2.723 BOUNDED 0 9.365 1 0.5 #
AtomPair CB 212 CB 271 SCALARWEIGHTEDFUNC 2.686 BOUNDED 0 7.124 1 0.5 #
AtomPair CB 304 CB 308 SCALARWEIGHTEDFUNC 2.553 BOUNDED 0 8.01 1 0.5 #
AtomPair CB 15 CB 62 SCALARWEIGHTEDFUNC 2.524 BOUNDED 0 7.497 1 0.5 #
AtomPair CB 220 CB 301 SCALARWEIGHTEDFUNC 2.511 BOUNDED 0 10.4 1 0.5 #
AtomPair CB 69 CB 73 SCALARWEIGHTEDFUNC 2.449 BOUNDED 0 6.587 1 0.5 #
AtomPair CB 229 CB 233 SCALARWEIGHTEDFUNC 2.428 BOUNDED 0 7.483 1 0.5 #
AtomPair CA 192 CB 296 SCALARWEIGHTEDFUNC 2.299 BOUNDED 0 7.966 1 0.5 #
AtomPair CB 64 CB 67 SCALARWEIGHTEDFUNC 2.264 BOUNDED 0 6.45 1 0.5 #
AtomPair CB 29 CA 33 SCALARWEIGHTEDFUNC 2.263 BOUNDED 0 7.036 1 0.5 #
AtomPair CB 145 CB 193 SCALARWEIGHTEDFUNC 2.211 BOUNDED 0 5.381 1 0.5 #
AtomPair CB 219 CB 268 SCALARWEIGHTEDFUNC 2.131 BOUNDED 0 8.485 1 0.5 #
AtomPair CB 223 CB 242 SCALARWEIGHTEDFUNC 2.124 BOUNDED 0 10.707 1 0.5 #
AtomPair CB 131 CB 143 SCALARWEIGHTEDFUNC 2.109 BOUNDED 0 11.355 1 0.5 #
AtomPair CB 160 CA 182 SCALARWEIGHTEDFUNC 2.066 BOUNDED 0 7.036 1 0.5 #
AtomPair CB 139 CB 199 SCALARWEIGHTEDFUNC 2.037 BOUNDED 0 9.753 1 0.5 #
AtomPair CB 242 CB 261 SCALARWEIGHTEDFUNC 2.035 BOUNDED 0 7.633 1 0.5 #
AtomPair CA 50 CB 53 SCALARWEIGHTEDFUNC 2.02 BOUNDED 0 9.166 1 0.5 #
AtomPair CB 27 CB 73 SCALARWEIGHTEDFUNC 1.991 BOUNDED 0 6.587 1 0.5 #
AtomPair CB 260 CB 263 SCALARWEIGHTEDFUNC 1.986 BOUNDED 0 10.123 1 0.5 #
AtomPair CB 227 CB 258 SCALARWEIGHTEDFUNC 1.942 BOUNDED 0 6.707 1 0.5 #
AtomPair CB 295 CB 298 SCALARWEIGHTEDFUNC 1.908 BOUNDED 0 10.713 1 0.5 #
AtomPair CB 217 CB 297 SCALARWEIGHTEDFUNC 1.906 BOUNDED 0 6.707 1 0.5 #
AtomPair CB 252 CB 260 SCALARWEIGHTEDFUNC 1.904 BOUNDED 0 9.852 1 0.5 #
AtomPair CB 59 CB 303 SCALARWEIGHTEDFUNC 1.895 BOUNDED 0 6.567 1 0.5 #
AtomPair CA 183 CB 222 SCALARWEIGHTEDFUNC 1.892 BOUNDED 0 5.51 1 0.5 #
AtomPair CB 59 CB 300 SCALARWEIGHTEDFUNC 1.877 BOUNDED 0 8.335 1 0.5 #
AtomPair CB 163 CB 240 SCALARWEIGHTEDFUNC 1.877 BOUNDED 0 7.682 1 0.5 #
AtomPair CB 14 CB 306 SCALARWEIGHTEDFUNC 1.858 BOUNDED 0 10.123 1 0.5 #
AtomPair CB 202 CB 206 SCALARWEIGHTEDFUNC 1.85 BOUNDED 0 10.123 1 0.5 #
AtomPair CB 26 CB 73 SCALARWEIGHTEDFUNC 1.846 BOUNDED 0 9.719 1 0.5 #
AtomPair CB 272 CB 298 SCALARWEIGHTEDFUNC 1.772 BOUNDED 0 10.544 1 0.5 #
AtomPair CB 225 CB 229 SCALARWEIGHTEDFUNC 1.752 BOUNDED 0 7.081 1 0.5 #
AtomPair CB 252 CB 256 SCALARWEIGHTEDFUNC 1.741 BOUNDED 0 8.48 1 0.5 #
AtomPair CB 12 CB 273 SCALARWEIGHTEDFUNC 1.739 BOUNDED 0 8.522 1 0.5 #
AtomPair CB 96 CB 99 SCALARWEIGHTEDFUNC 1.735 BOUNDED 0 7.628 1 0.5 #
AtomPair CB 27 CB 76 SCALARWEIGHTEDFUNC 1.703 BOUNDED 0 5.381 1 0.5 #
AtomPair CB 247 CB 254 SCALARWEIGHTEDFUNC 1.689 BOUNDED 0 9.602 1 0.5 #
AtomPair CB 176 CB 223 SCALARWEIGHTEDFUNC 1.688 BOUNDED 0 10.47 1 0.5 #
AtomPair CB 246 CB 261 SCALARWEIGHTEDFUNC 1.687 BOUNDED 0 6.759 1 0.5 #
AtomPair CB 204 CB 287 SCALARWEIGHTEDFUNC 1.677 BOUNDED 0 6.791 1 0.5 #
AtomPair CB 24 CA 50 SCALARWEIGHTEDFUNC 1.67 BOUNDED 0 6.135 1 0.5 #
AtomPair CB 224 CB 265 SCALARWEIGHTEDFUNC 1.667 BOUNDED 0 6.057 1 0.5 #
AtomPair CB 112 CB 151 SCALARWEIGHTEDFUNC 1.657 BOUNDED 0 9.852 1 0.5 #
AtomPair CB 232 CB 236 SCALARWEIGHTEDFUNC 1.646 BOUNDED 0 10.25 1 0.5 #
AtomPair CB 223 CB 261 SCALARWEIGHTEDFUNC 1.643 BOUNDED 0 10.021 1 0.5 #
AtomPair CB 210 CB 290 SCALARWEIGHTEDFUNC 1.639 BOUNDED 0 6.791 1 0.5 #
AtomPair CB 214 CB 293 SCALARWEIGHTEDFUNC 1.637 BOUNDED 0 9.454 1 0.5 #
AtomPair CB 22 CB 65 SCALARWEIGHTEDFUNC 1.632 BOUNDED 0 11.355 1 0.5 #
AtomPair CB 216 CB 271 SCALARWEIGHTEDFUNC 1.63 BOUNDED 0 6.707 1 0.5 #
AtomPair CB 284 CB 287 SCALARWEIGHTEDFUNC 1.615 BOUNDED 0 7.442 1 0.5 #
AtomPair CB 234 CB 254 SCALARWEIGHTEDFUNC 1.611 BOUNDED 0 9.602 1 0.5 #
AtomPair CB 274 CB 278 SCALARWEIGHTEDFUNC 1.537 BOUNDED 0 7.628 1 0.5 #
AtomPair CB 220 CB 265 SCALARWEIGHTEDFUNC 1.537 BOUNDED 0 9.362 1 0.5 #
AtomPair CB 43 CB 47 SCALARWEIGHTEDFUNC 1.527 BOUNDED 0 6.707 1 0.5 #
AtomPair CB 231 CB 234 SCALARWEIGHTEDFUNC 1.507 BOUNDED 0 7.591 1 0.5 #
AtomPair CB 212 CB 275 SCALARWEIGHTEDFUNC 1.481 BOUNDED 0 8.077 1 0.5 #
AtomPair CB 152 CB 181 SCALARWEIGHTEDFUNC 1.471 BOUNDED 0 10.879 1 0.5 #
AtomPair CB 65 CB 69 SCALARWEIGHTEDFUNC 1.47 BOUNDED 0 9.252 1 0.5 #
AtomPair CB 262 CB 266 SCALARWEIGHTEDFUNC 1.464 BOUNDED 0 6.388 1 0.5 #
AtomPair CB 263 CB 267 SCALARWEIGHTEDFUNC 1.457 BOUNDED 0 9.306 1 0.5 #
AtomPair CB 129 CB 133 SCALARWEIGHTEDFUNC 1.455 BOUNDED 0 6.971 1 0.5 #
AtomPair CB 210 CB 214 SCALARWEIGHTEDFUNC 1.45 BOUNDED 0 7.404 1 0.5 #
AtomPair CB 67 CB 194 SCALARWEIGHTEDFUNC 1.445 BOUNDED 0 5.982 1 0.5 #
AtomPair CB 172 CB 242 SCALARWEIGHTEDFUNC 1.439 BOUNDED 0 7.751 1 0.5 #
AtomPair CB 28 CB 47 SCALARWEIGHTEDFUNC 1.422 BOUNDED 0 7.633 1 0.5 #
AtomPair CB 201 CB 204 SCALARWEIGHTEDFUNC 1.409 BOUNDED 0 7.404 1 0.5 #
AtomPair CB 246 CB 260 SCALARWEIGHTEDFUNC 1.408 BOUNDED 0 9.513 1 0.5 #
AtomPair CB 230 CB 234 SCALARWEIGHTEDFUNC 1.408 BOUNDED 0 9.602 1 0.5 #
AtomPair CB 53 CB 58 SCALARWEIGHTEDFUNC 1.389 BOUNDED 0 11.615 1 0.5 #
AtomPair CB 148 CB 152 SCALARWEIGHTEDFUNC 1.382 BOUNDED 0 10.123 1 0.5 #
AtomPair CB 58 CB 306 SCALARWEIGHTEDFUNC 1.364 BOUNDED 0 9.979 1 0.5 #
AtomPair CB 276 CB 294 SCALARWEIGHTEDFUNC 1.345 BOUNDED 0 9.513 1 0.5 #
AtomPair CA 108 CB 151 SCALARWEIGHTEDFUNC 1.336 BOUNDED 0 6.554 1 0.5 #
AtomPair CB 171 CB 249 SCALARWEIGHTEDFUNC 1.325 BOUNDED 0 8.221 1 0.5 #
AtomPair CB 213 CB 294 SCALARWEIGHTEDFUNC 1.316 BOUNDED 0 7.633 1 0.5 #
AtomPair CB 139 CB 142 SCALARWEIGHTEDFUNC 1.314 BOUNDED 0 6.76 1 0.5 #
AtomPair CB 280 CB 282 SCALARWEIGHTEDFUNC 1.3 BOUNDED 0 7.751 1 0.5 #
AtomPair CB 67 CA 197 SCALARWEIGHTEDFUNC 1.276 BOUNDED 0 5.619 1 0.5 #
AtomPair CB 22 CB 26 SCALARWEIGHTEDFUNC 1.269 BOUNDED 0 11.615 1 0.5 #
AtomPair CB 78 CB 153 SCALARWEIGHTEDFUNC 1.262 BOUNDED 0 11.536 1 0.5 #
AtomPair CA 52 CB 72 SCALARWEIGHTEDFUNC 1.242 BOUNDED 0 5.619 1 0.5 #
AtomPair CB 14 CB 58 SCALARWEIGHTEDFUNC 1.236 BOUNDED 0 11.615 1 0.5 #
AtomPair CA 20 CB 56 SCALARWEIGHTEDFUNC 1.219 BOUNDED 0 5.201 1 0.5 #
AtomPair CB 230 CB 244 SCALARWEIGHTEDFUNC 1.214 BOUNDED 0 11.758 1 0.5 #
AtomPair CB 228 CB 309 SCALARWEIGHTEDFUNC 1.206 BOUNDED 0 7.591 1 0.5 #
AtomPair CB 82 CB 88 SCALARWEIGHTEDFUNC 1.201 BOUNDED 0 6.76 1 0.5 #
AtomPair CB 173 CB 249 SCALARWEIGHTEDFUNC 1.198 BOUNDED 0 8.051 1 0.5 #
AtomPair CB 159 CB 178 SCALARWEIGHTEDFUNC 1.193 BOUNDED 0 10.4 1 0.5 #
AtomPair CB 71 CB 195 SCALARWEIGHTEDFUNC 1.189 BOUNDED 0 8.335 1 0.5 #
AtomPair CB 273 CB 276 SCALARWEIGHTEDFUNC 1.182 BOUNDED 0 9.852 1 0.5 #
AtomPair CB 55 CB 75 SCALARWEIGHTEDFUNC 1.172 BOUNDED 0 7.605 1 0.5 #
AtomPair CB 163 CB 170 SCALARWEIGHTEDFUNC 1.171 BOUNDED 0 7.497 1 0.5 #
AtomPair CB 74 CB 78 SCALARWEIGHTEDFUNC 1.155 BOUNDED 0 9.889 1 0.5 #
AtomPair CB 220 CB 269 SCALARWEIGHTEDFUNC 1.151 BOUNDED 0 9.889 1 0.5 #
AtomPair CB 175 CB 226 SCALARWEIGHTEDFUNC 1.147 BOUNDED 0 8.634 1 0.5 #
AtomPair CB 189 CB 217 SCALARWEIGHTEDFUNC 1.145 BOUNDED 0 9.121 1 0.5 #
AtomPair CB 36 CA 126 SCALARWEIGHTEDFUNC 1.137 BOUNDED 0 6.554 1 0.5 #
AtomPair CB 55 CB 72 SCALARWEIGHTEDFUNC 1.136 BOUNDED 0 5.982 1 0.5 #
AtomPair CB 34 CB 129 SCALARWEIGHTEDFUNC 1.128 BOUNDED 0 6.972 1 0.5 #
AtomPair CB 213 CB 272 SCALARWEIGHTEDFUNC 1.117 BOUNDED 0 9.889 1 0.5 #
AtomPair CB 185 CB 221 SCALARWEIGHTEDFUNC 1.114 BOUNDED 0 6.791 1 0.5 #
AtomPair CB 19 CB 65 SCALARWEIGHTEDFUNC 1.11 BOUNDED 0 10.303 1 0.5 #
AtomPair CB 132 CA 136 SCALARWEIGHTEDFUNC 1.097 BOUNDED 0 9.166 1 0.5 #
AtomPair CB 209 CB 278 SCALARWEIGHTEDFUNC 1.097 BOUNDED 0 5.982 1 0.5 #
AtomPair CB 131 CB 135 SCALARWEIGHTEDFUNC 1.095 BOUNDED 0 9.976 1 0.5 #
AtomPair CB 212 CB 215 SCALARWEIGHTEDFUNC 1.094 BOUNDED 0 7.628 1 0.5 #
AtomPair CB 268 CB 271 SCALARWEIGHTEDFUNC 1.092 BOUNDED 0 7.124 1 0.5 #
AtomPair CB 26 CB 65 SCALARWEIGHTEDFUNC 1.091 BOUNDED 0 11.807 1 0.5 #
AtomPair CB 31 CB 76 SCALARWEIGHTEDFUNC 1.089 BOUNDED 0 6.707 1 0.5 #
AtomPair CB 181 CB 186 SCALARWEIGHTEDFUNC 1.087 BOUNDED 0 10.843 1 0.5 #
AtomPair CB 293 CB 297 SCALARWEIGHTEDFUNC 1.076 BOUNDED 0 8.676 1 0.5 #
AtomPair CA 108 CB 155 SCALARWEIGHTEDFUNC 1.074 BOUNDED 0 7.036 1 0.5 #
AtomPair CB 225 CB 233 SCALARWEIGHTEDFUNC 1.073 BOUNDED 0 8.485 1 0.5 #
AtomPair CB 25 CB 29 SCALARWEIGHTEDFUNC 1.064 BOUNDED 0 7.124 1 0.5 #
AtomPair CB 217 CB 301 SCALARWEIGHTEDFUNC 1.059 BOUNDED 0 7.605 1 0.5 #
AtomPair CB 77 CB 127 SCALARWEIGHTEDFUNC 1.058 BOUNDED 0 10.707 1 0.5 #
AtomPair CA 283 CB 287 SCALARWEIGHTEDFUNC 1.057 BOUNDED 0 5.619 1 0.5 #
AtomPair CB 246 CB 252 SCALARWEIGHTEDFUNC 1.056 BOUNDED 0 7.633 1 0.5 #
AtomPair CB 144 CB 148 SCALARWEIGHTEDFUNC 1.048 BOUNDED 0 6.388 1 0.5 #
AtomPair CB 307 CB 311 SCALARWEIGHTEDFUNC 1.043 BOUNDED 0 9.77 1 0.5 #
AtomPair CB 175 CB 245 SCALARWEIGHTEDFUNC 1.041 BOUNDED 0 8.051 1 0.5 #
AtomPair CB 104 CB 154 SCALARWEIGHTEDFUNC 1.041 BOUNDED 0 9.602 1 0.5 #
AtomPair CB 216 CB 275 SCALARWEIGHTEDFUNC 1.038 BOUNDED 0 8.522 1 0.5 #
AtomPair CB 272 CB 301 SCALARWEIGHTEDFUNC 1.031 BOUNDED 0 10.4 1 0.5 #
AtomPair CB 24 CA 52 SCALARWEIGHTEDFUNC 1.031 BOUNDED 0 6.135 1 0.5 #
AtomPair CB 271 CB 274 SCALARWEIGHTEDFUNC 1.03 BOUNDED 0 7.124 1 0.5 #
AtomPair CB 224 CB 304 SCALARWEIGHTEDFUNC 1.03 BOUNDED 0 7.605 1 0.5 #
AtomPair CA 108 CB 112 SCALARWEIGHTEDFUNC 1.028 BOUNDED 0 9.166 1 0.5 #
AtomPair CB 101 CB 105 SCALARWEIGHTEDFUNC 1.028 BOUNDED 0 9.365 1 0.5 #
AtomPair CB 153 CB 157 SCALARWEIGHTEDFUNC 1.027 BOUNDED 0 10.039 1 0.5 #
AtomPair CB 280 CA 291 SCALARWEIGHTEDFUNC 1.026 BOUNDED 0 6.14 1 0.5 #
AtomPair CB 264 CB 267 SCALARWEIGHTEDFUNC 1.025 BOUNDED 0 8.479 1 0.5 #
AtomPair CA 182 CB 240 SCALARWEIGHTEDFUNC 1.023 BOUNDED 0 6.321 1 0.5 #
AtomPair CB 264 CB 268 SCALARWEIGHTEDFUNC 1.014 BOUNDED 0 8.077 1 0.5 #
AtomPair CB 75 CB 188 SCALARWEIGHTEDFUNC 1.013 BOUNDED 0 9.53 1 0.5 #
AtomPair CB 216 CB 268 SCALARWEIGHTEDFUNC 1.013 BOUNDED 0 8.077 1 0.5 #
AtomPair CA 20 CB 24 SCALARWEIGHTEDFUNC 1.012 BOUNDED 0 6.135 1 0.5 #
AtomPair CB 40 CB 41 SCALARWEIGHTEDFUNC 1.012 BOUNDED 0 7.124 1 0.5 #
AtomPair CB 306 CB 310 SCALARWEIGHTEDFUNC 1.007 BOUNDED 0 10.123 1 0.5 #
AtomPair CB 212 CB 216 SCALARWEIGHTEDFUNC 1.005 BOUNDED 0 8.077 1 0.5 #
AtomPair CB 8 CB 227 SCALARWEIGHTEDFUNC 1.001 BOUNDED 0 8.522 1 0.5 #
AtomPair CB 24 CB 28 SCALARWEIGHTEDFUNC 1.0 BOUNDED 0 6.972 1 0.5 #
AtomPair CB 285 CB 289 SCALARWEIGHTEDFUNC 0.997 BOUNDED 0 6.412 1 0.5 #
AtomPair CA 283 CB 286 SCALARWEIGHTEDFUNC 0.994 BOUNDED 0 6.554 1 0.5 #
AtomPair CB 135 CB 143 SCALARWEIGHTEDFUNC 0.992 BOUNDED 0 10.135 1 0.5 #
AtomPair CB 74 CB 134 SCALARWEIGHTEDFUNC 0.99 BOUNDED 0 8.522 1 0.5 #
AtomPair CB 23 CB 68 SCALARWEIGHTEDFUNC 0.986 BOUNDED 0 6.707 1 0.5 #
AtomPair CB 17 CB 65 SCALARWEIGHTEDFUNC 0.978 BOUNDED 0 10.661 1 0.5 #
AtomPair CB 5 CB 8 SCALARWEIGHTEDFUNC 0.977 BOUNDED 0 7.633 1 0.5 #
AtomPair CB 175 CB 242 SCALARWEIGHTEDFUNC 0.97 BOUNDED 0 8.676 1 0.5 #
AtomPair CB 26 CB 29 SCALARWEIGHTEDFUNC 0.966 BOUNDED 0 10.544 1 0.5 #
AtomPair CB 272 CB 276 SCALARWEIGHTEDFUNC 0.962 BOUNDED 0 11.615 1 0.5 #
AtomPair CB 260 CB 264 SCALARWEIGHTEDFUNC 0.958 BOUNDED 0 9.852 1 0.5 #
AtomPair CB 219 CB 223 SCALARWEIGHTEDFUNC 0.958 BOUNDED 0 9.976 1 0.5 #
AtomPair CB 185 CB 218 SCALARWEIGHTEDFUNC 0.958 BOUNDED 0 5.854 1 0.5 #
AtomPair CB 87 CB 104 SCALARWEIGHTEDFUNC 0.957 BOUNDED 0 8.634 1 0.5 #
AtomPair CB 66 CB 69 SCALARWEIGHTEDFUNC 0.951 BOUNDED 0 6.388 1 0.5 #
AtomPair CB 142 CB 193 SCALARWEIGHTEDFUNC 0.95 BOUNDED 0 6.388 1 0.5 #
AtomPair CB 221 CB 301 SCALARWEIGHTEDFUNC 0.947 BOUNDED 0 8.397 1 0.5 #
AtomPair CB 103 CB 121 SCALARWEIGHTEDFUNC 0.947 BOUNDED 0 7.696 1 0.5 #
AtomPair CB 15 CB 299 SCALARWEIGHTEDFUNC 0.945 BOUNDED 0 7.321 1 0.5 #
AtomPair CB 295 CB 299 SCALARWEIGHTEDFUNC 0.943 BOUNDED 0 10.123 1 0.5 #
AtomPair CB 259 CB 263 SCALARWEIGHTEDFUNC 0.927 BOUNDED 0 8.001 1 0.5 #
AtomPair CB 169 CB 245 SCALARWEIGHTEDFUNC 0.923 BOUNDED 0 6.937 1 0.5 #
AtomPair CB 141 CB 202 SCALARWEIGHTEDFUNC 0.916 BOUNDED 0 11.355 1 0.5 #
AtomPair CA 126 CB 129 SCALARWEIGHTEDFUNC 0.913 BOUNDED 0 6.135 1 0.5 #
AtomPair CB 266 CB 270 SCALARWEIGHTEDFUNC 0.913 BOUNDED 0 6.388 1 0.5 #
AtomPair CB 53 CB 310 SCALARWEIGHTEDFUNC 0.908 BOUNDED 0 12.05 1 0.5 #
AtomPair CB 128 CB 132 SCALARWEIGHTEDFUNC 0.908 BOUNDED 0 9.365 1 0.5 #
AtomPair CB 227 CB 261 SCALARWEIGHTEDFUNC 0.903 BOUNDED 0 7.633 1 0.5 #
AtomPair CB 54 CB 59 SCALARWEIGHTEDFUNC 0.902 BOUNDED 0 7.633 1 0.5 #
AtomPair CB 210 CB 293 SCALARWEIGHTEDFUNC 0.901 BOUNDED 0 8.179 1 0.5 #
